@font-face {
  font-family: "batman";
  src: url("../fonts/batman_evolution_logo_font_g-webfont.woff2")
      format("woff2"),
    url("../fonts/batman_evolution_logo_font_g-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.fixed-top {
  padding-top: 10rem;
}

.header {
  background-color: #000000;
}

.logo {
  width: 4rem;
  height: 4rem;
  text-indent: 99999px;
  background: transparent url("../img/logo-batman.svg") no-repeat left;
  background-size: contain;
  /* se inserta el logo */
}

/* Seción home */

.home {
  background: #000000 url("../img/fondo-home.jpg") no-repeat center;
}

.home h2 {
  margin: 40vh auto 0;
  font-size: 20vw;
  font-weight: 900;
  color: #eecf27;
  letter-spacing: 2vw;
}

.batman-img {
  max-width: 50%;
}

.logos ul {
  font-family: "batman";
}

p {
  text-align: justify;
}

@media screen and (min-width: 30em) {
  .fixed-top {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 48em) {
  .batman-img {
    max-width: 75%;
  }
  .logos-video iframe {
    max-width: 850px;
    height: 480px;
  }
  .rslides {
    max-width: 800px;
  }
  .fixed-top {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 64em) {
  .batman-img {
    max-width: 65%;
  }
  .home h2 {
    font-size: 15vw;
  }
  .fixed-top {
    padding-top: 12rem;
  }
}
